@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-bg {
  to {
    rotate: 1turn;
  }
}

html {
  --primary-text: #f9fafb;
  --black-gradient: linear-gradient(180deg, #000000 0%, #05112c 100%);
  --green-gradient: linear-gradient(0deg, #22c55e 0%, #71f163 100%);
  --red-gradient: linear-gradient(180deg, #ce6503 0%, #c41a1a 100%);
  --purple-gradient: linear-gradient(180deg, #513690 0%, #15111d 100%);
  --blue-gradient: linear-gradient(180deg, #0f5c83 0%, #0c1945 100%);
  --darkgreen-gradient: linear-gradient(180deg, #178c42 0%, #0d3a1e 100%);
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .theme-grad {
    background-image: var(--green-gradient);
  }
  .feature-grad {
    background-image: var(--black-gradient);
  }
  .project-grad {
    background-image: var(--red-gradient);
  }
  .machine-grad {
    background-image: var(--purple-gradient);
  }
  .problems-grad {
    background-image: var(--blue-gradient);
  }
  .peer-grad {
    background-image: var(--darkgreen-gradient);
  }
  .oxanium-font {
    font-family: var(--font-oxanium);
  }
  .rotating-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate-bg 30s linear infinite;
  }
  .codebanner-bg-wrapper {
    pointer-events: none !important;
    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image: var(--green-gradient), var(--black-gradient),
        var(--black-gradient), var(--black-gradient);
      animation: rotate-bg 5s linear infinite;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: #111827;
      border-radius: 0.9rem;
    }
    .monaco-editor-background,
    .margin-view-overlays {
      background-color: #111827 !important;
    }
  }

  .with-divider {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border: 1px solid #1f2933;
    }
  }
}

.monaco-editor-background,
.margin-view-overlays,
.sticky-line-content,
.sticky-line-number {
  background-color: #0c1020 !important;
}

.current-line {
  border: none !important;
}

/* SideBar expand styles */
@layer utilities {
  .expandable-icon {
    display: block;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(100% - 10px);
    }
  }
}

/* Divider expand styles */
@layer utilities {
  .horz-divider {
    background-color: #0b1020;
    &:hover {
      background-color: #71f163 !important;
    }
  }
}

.project-editor {
  background-color: #0b1020;
  .cm-theme {
    width: 100%;
    height: 100%;
    .cm-editor,
    .cm-gutters {
      background-color: #0b1020;
    }
    .cm-focused {
      outline: none;
    }
    .cm-gutterElement > span[title='Fold line'] {
      display: flex;
      align-items: center;
      height: 12px;
    }
    @media screen and (max-width: 680px) {
      height: inherit;
    }
  }
}
